<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>ProgettoSIW</title>
</head>
<body>
	<h1>Add new Task</h1>
	<form id="registerTaskForm" th:action="@{'/projects/'+${projectId}+'/add/task'}"
		th:object="${taskForm}" method="POST">
		<table>
			<tr>
				<td><label for="taskNameInput">Task Name</label></td>
				<td><input id="taskNameInput" type="text" placeholder="NAME"
					required th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}"
				 th:errors="*{name}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="taskDescriptionInput">Description</label></td>
				<td><input id="taskDescriptionInput" placeholder="DESCRIPTION"
					required th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}"
					th:errors="description" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit">Register Task</button></td>
			</tr>
		</table>
	</form>
</body>
</html>
