<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>ProgettoSIW</title>
</head>
<body>
	<h1>Add new Task</h1>
	<form id="registerTagForm" th:action="@{'/projects/'+${projectId}+'/add/tag'}"
		th:object="${tagForm}" method="POST">
		<table>
			<tr>
				<td><label for="tagNameInput">Task Name</label></td>
				<td><input id="tagNameInput" type="text" placeholder="NAME"
					required th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}"
				 th:errors="*{name}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="tagDescriptionInput">Description</label></td>
				<td><input id="tagDescriptionInput" placeholder="DESCRIPTION"
					required th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}"
					th:errors="description" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="tagColorInput">Description</label></td>
				<td><input id="tagColorInput" placeholder="COLOR"
					required th:field="*{color}" /></td>
				<td th:if="${#fields.hasErrors('color')}"
					th:errors="color" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit">Register Tag</button></td>
			</tr>
		</table>
	</form>
</body>
</html>
