<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ProgettoSIW</title>
</head>
<body>
  <h1>Shared Projects</h1>
  <div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <th>Description</th>
          
        </tr>
      </thead>
      <tbody>
        <tr th:each="project : ${projectsList}">
          <td><a th:href="'/sharedprojects/' + ${project.id}"
            th:text="${project.name}">...</a></td>
          <td th:text="${project.description}">...</td>
          <td>
            <!-- <form method="POST"
              th:action="@{/projects/{projectName}/delete(projectName=${project.name})}">
              <button type="submit" name="submit" value="value">DELETE</button>
            </form> -->
          </td>
        </tr>
      </tbody>
      <tr>
        <td><a href="/home"><button type="submit">Home</button></a></td>
      </tr>
    </table>
  </div>
</body>
</html>